#container{
    box-sizing: border-box;
    margin: 20px;
    padding: 15px;
    border: 2px solid rgb(93, 218, 166);
    max-width: 400px;
    overflow:hidden;
    min-height: 400px;
    width: 60%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
label{
    padding-right:10px;
}
.stud{
    margin-top: 20px;
}
#occupation{
    display: none;
}
#outputData{
    color:rgb(53, 105, 201);
    box-sizing: border-box;
    margin-top: 100px;
    overflow:hidden;
    text-align:center;
}